.card-dim-1 {
  border-color: rgba(255, 215, 0, 0.3) !important;
}
.card-dim-2 {
  border-color: rgba(65, 105, 225, 0.3) !important;
}
.card-dim-3 {
  border-color: rgba(46, 139, 87, 0.3) !important;
}