<!-- NAV -->
<nav class="nav" [class.scrolled]="isScrolled">
    <div class="nav-inner">
    <div class="nav-logo" routerLink="/">Epic<span>Hub</span></div>

    <ul class="nav-links">
      <li><a routerLink="/explore">Explore Vendors</a></li>
      <li><a routerLink="/packages">Packages</a></li>
      <li><a routerLink="/corporate">Corporate</a></li>
      <li><a routerLink="/vendor-join">Become a Vendor</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <div class="nav-actions">
      <button
        class="nav-fav-btn"
        (click)="goToFavorites()"
        title="My Favorites"
      >
        <div class="fav-count" id="favCount">0</div>
      </button>

      <!-- Not Logged In -->
      <ng-container *ngIf="!authService.isLoggedIn()">
        <button class="btn-nav-login" (click)="openLoginModal()">Login</button>
        <button class="btn-nav-cta" (click)="openSignupModal()">
          Get Started
        </button>
      </ng-container>

      <!-- Logged In -->
      <ng-container *ngIf="authService.isLoggedIn()">
        <!-- Admin -->
        <button
          *ngIf="authService.role() === 'Admin'"
          class="btn-nav-admin"
          routerLink="/admin"
          title="Admin Panel"
        >
          Admin
        </button>

        <!-- Vendor -->
        <button
          *ngIf="authService.role() === 'Vendor'"
          class="btn-nav-vendor"
          routerLink="/vendor-dashboard"
          title="Vendor Portal"
        >
          Dashboard
        </button>

        <!-- User -->
        <button
          *ngIf="authService.role() === 'User'"
          class="btn-nav-login"
          routerLink="/user/my-events"
          title="My Events"
        >
          My Portal
        </button>

        <button
          class="btn btn-navy btn-sm"
          (click)="logout()"
          style="border-color: #dc2626; color: #dc2626; background: transparent"
        >
          Logout
        </button>
      </ng-container>
    </div>
  </div>
</nav>
