<!-- NAV -->
<nav class="nav" [class.scrolled]="isScrolled">
  <div class="nav-inner">
    <div class="nav-logo" routerLink="/">Epic<span>Hub</span></div>

    <ul class="nav-links">
      <li><a routerLink="/explore-services">Explore Services</a></li>
      <li><a routerLink="/explore">Explore Vendors</a></li>
      <li><a routerLink="/packages">Packages</a></li>
      <li><a routerLink="/corporate">Corporate</a></li>
      <li><a routerLink="/vendor-join">Become a Vendor</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <div class="nav-actions">
      <!-- Chat Messages -->
      <button
        *ngIf="authService.isLoggedIn()"
        class="nav-icon-btn"
        (click)="goToMessages()"
        title="Messages"
      >
        💬
      </button>

      <!-- Notifications -->
      <button *ngIf="authService.isLoggedIn()" class="nav-icon-btn relative" title="Notifications">
        🔔
        <div class="fav-count" *ngIf="signalRService.unreadCount() > 0">
          {{signalRService.unreadCount()}}
        </div>
      </button>

      <!-- Favorites -->
      <button
        class="nav-fav-btn"
        (click)="goToFavorites()"
        title="My Favorites"
      >
        <div class="fav-count" id="favCount">0</div>
      </button>

      <button (click)="theme.toggle()">
        {{ theme.isDark ? "☀️" : "🌙" }}
      </button>

      <!-- Not Logged In -->
      <ng-container *ngIf="!authService.isLoggedIn()">
        <button class="btn-nav-login" (click)="openLoginModal()">Login</button>
        <button class="btn-nav-cta" (click)="openSignupModal()">
          Get Started
        </button>
      </ng-container>

      <!-- Logged In -->
      <ng-container *ngIf="authService.isLoggedIn()">
        <!-- Admin -->
        <button
          *ngIf="authService.role() === 'Admin'"
          class="btn-nav-admin"
          routerLink="/admin"
          title="Admin Panel"
        >
          Admin
        </button>

        <!-- Vendor -->
        <button
          *ngIf="authService.role() === 'Vendor'"
          class="btn-nav-vendor"
          routerLink="/vendor/dashboard"
          title="Vendor Portal"
        >
          Dashboard
        </button>

        <!-- User -->
        <button
          *ngIf="authService.role() === 'User'"
          class="btn-nav-login"
          routerLink="/user/my-events"
          title="My Events"
        >
          My Portal
        </button>

        <button class="btn btn-navy btn-sm text-[#dc2626] bg-[transparent] ml-[12px] border-[#dc2626]" (click)="logout()">
          Logout
        </button>
      </ng-container>
    </div>
  </div>
</nav>
