<div class="auth-page-wrapper">
  <div class="auth-box">
    <h2 class="auth-title">Change Password</h2>
    <p class="auth-subtitle">Update your password to keep your account secure.</p>

    <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group mb-[20px]">
        <label>Current Password</label>
        <input type="password" placeholder="••••••••" formControlName="currentPassword"
            [class.is-invalid]="currentPasswordControl?.invalid && currentPasswordControl?.touched" />
        <div *ngIf="currentPasswordControl?.invalid && currentPasswordControl?.touched" class="error-message">
            <small *ngIf="currentPasswordControl?.hasError('required')">Current password is required.</small>
        </div>
      </div>

      <div class="form-group mb-[24px]">
        <label>New Password</label>
        <input type="password" placeholder="Min. 6 characters" formControlName="newPassword"
            [class.is-invalid]="newPasswordControl?.invalid && newPasswordControl?.touched" />
        <div *ngIf="newPasswordControl?.invalid && newPasswordControl?.touched" class="error-message">
            <small *ngIf="newPasswordControl?.hasError('required')">New password is required.</small>
            <small *ngIf="newPasswordControl?.hasError('minlength')">Password must be at least 6 characters.</small>
            <small *ngIf="newPasswordControl?.hasError('pattern')">Password must have at least one lowercase ('a'-'z').</small>
        </div>
      </div>

      <div class="flex gap-[12px] mt-[10px]">
          <button type="button" class="auth-btn-ghost" (click)="cancel()" [disabled]="isLoading">Cancel</button>
          <button type="submit" class="auth-submit-btn" [disabled]="isLoading">
            <span *ngIf="!isLoading">Save Changes</span>
            <div *ngIf="isLoading" class="spinner"></div>
          </button>
      </div>

    </form>
  </div>
</div>
